body {
  background-color: #181a1b;
}

main {
  display: flex;
  justify-content: center;
}

section {
  margin: 5rem 5rem 5rem 0;
  /* background: white; */
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  
  position: relative;
  left: 40px;
}

.title h1 {
  color: #0e0d0e;

  font-size: 56px;
  font-family: 'Roboto', sans-serif;
}

.button {
  max-width: 350px;
  max-height: 50px;
  margin-top: 1rem;
}

.button img{
  height: 36px;
}

button {
  border: transparent;
  border-radius: 15px;

  background:#aba499;
  
  cursor: pointer;
}

.button a button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  left: 40px;
  width: 350px;
  height: 50px;

  transition: 0.3s;
}

.button a button:hover {
  background: #69655e;
  color: #b3b3b3;
}

.button a button span {
  margin-left: 1rem;
  font-family: 'Roboto', sans-serif;
  
  text-decoration: none;
}
.button a button span {
  color: #474040;
  font-size: 24px;
}